@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

:root {
    --white: #FAF9F6;
    --red: #BA2121;
    --unfocused: #8D8D8D;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scrollbar-width: thin;
    scrollbar-color: #383838 #000000;
}



* {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: var(--white);

}

body {
    background-color: black;
    padding: 0 0 50px 0;
    overflow-x: hidden;
}

/*body::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 30%;
    filter: url(#grainy);
    background: #000;
}*/

header {
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    position: fixed;
    width: 100vw;
    background-image: linear-gradient(black 5%, transparent 85%);
    z-index: 1;
    padding: 0 40px 0 0;
    height: 20vh;
    scroll-snap-align: center;
    
}

header.nosnap {
    scroll-snap-align: none;
}

header.index {
    display: flex;
    justify-content: right;
    top: 0;
    right: 0;
}

header > a {
    font-size: 50px;
    font-weight: 1000;
    font-family: "Oswald", sans-serif;

}

header > a:hover {
    color: var(--white);
    text-decoration: underline;
}

main {
    padding: 45vh 0 20vh 15vw;
    display: flex;
    flex-direction: column;
    height: 100vw;
}

p.nopadding {
    margin: 0;
    padding: 0;
    min-width: 200px;
}

p.about {
    font-size: 13px;
}

#p1 {
    margin-left: 62px;
}

#p2 {
    margin-left: -5px;
}

#p3 {
    margin-left: 80px;
}

#p4 {
    margin-left: 15px;
}

a, p.nopadding > a > span {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
}

p.nopadding > a:hover {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 500;
}

footer {
    position: absolute;
    font-weight: 500;
    margin-top: 5rem;
    padding: 0 10vw 0 5vw;
    height: 80vh;
    min-width: 500px;
    scroll-snap-align: center;
    mix-blend-mode: exclusion;
}

.italic {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 500;
}

h3 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}

section {
    margin: 0;
    padding: 0;
}

#about {
    margin: 0 0 8vh 0;
}


.scroller {
    font-size: 13px;
    max-width: 50vw;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 23vw;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 0 12px 0;

    mask-image: linear-gradient(transparent 0%, black 30%, black 70%, transparent 100%);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}



.scroller > a, span {
    font-size: 15px;
    scroll-snap-align: center;
}

.scroller > a:hover, .scroller > span:hover {
    font-size: 15px;
    scroll-snap-align: center;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 500;
    color: var(--white);
}

.sub {
    padding: 50px 10px 0 10px;
    white-space: nowrap;
    overflow-x:hidden;
}

.sub:nth-child(1) {
    padding-left: 2vw;
}

.sub > a {
    font-size: 13px;
}

a.sub {
    padding-top: 10px;
}

.grainy-radient {
    width: 70rem;
    height: 70rem;

    z-index: -2;
    position: absolute;
    transition: filter 1.5s;
    filter: contrast(70%) brightness(800%) invert(100%);
}

#grainy-radient-1 {
    left: 55vw;
    top: 80vh;
    background:
	radial-gradient(circle at 50% 50%, #000000, rgba(0,0,0,0)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.87' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

#grainy-radient-2 {
    left: 55vw;
    top: -40vh;
    background:
	radial-gradient(circle at 50% 50%, #0B8181, rgba(0,0,0,0)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.87' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

#grainy-radient-3 {
    left: -50vw;
    top: -75vh;
    background:
	radial-gradient(circle at 50% 50%, #C56E00, rgba(0,0,0,0)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.87' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

#grainy-radient-4 {
    left: -60vw;
    top: 50vh;
    background:
	radial-gradient(circle at 50% 50%, #07086D, rgba(0,0,0,0)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.87' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

#p1:hover ~ #grainy-radient-1 {
    z-index: -1;
    filter: contrast(150%) brightness(800%) invert(100%);
}

#p2:hover ~ #grainy-radient-2 {
    z-index: -1;
    filter: contrast(150%) brightness(800%) invert(100%);
}

#p3:hover ~ #grainy-radient-3 {
    z-index: -1;
    filter: contrast(150%) brightness(800%) invert(100%);
}

#p4:hover ~ #grainy-radient-4 {
    z-index: -1;
    filter: contrast(150%) brightness(800%) invert(100%);
}

/* for sub page */

main.designer {
    margin: 0 auto;
    padding: 17vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 50vw;
    
    height: 80vh;
    scrollbar-width: none;
}

div.nopadding.sub > a:hover {
    text-decoration: none;
    color: var(--white);
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 500;
}

div.current > a {
    text-decoration: none;
    color: var(--white);
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 500;
}

.img-scroller {
    width: 46vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    padding: 0 3vw;
    mask-image: linear-gradient(90deg, transparent 0%, white 10%, white 90%, transparent 100%);
}

.formated {
    max-width: 38vw;
    max-height: 38vh;
    object-fit: cover;
    border-radius: 20px;
    margin: 0;
    padding: 0 1vw;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
}

div.designer {
    margin: 0 auto;
    width: 50vw;
    
    padding: 5vh 2vw 0 2vw;
    scroll-snap-align: center;
}



h4 {
    padding: 10px 5px 3px 10px;

    font-family: "Oswald", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

.designer > p {
    font-size: 10px;
    color: var(--unfocused);
    transition: color 0.7s;
}

.designer > p:hover {
    color: var(--white);
}

#dot-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#dot-slider::after {
    height: 10vh;
    content: "";
}

div.dot {
    background-color: var(--unfocused);
    border-radius: 2px;
    width: 4px;
    height: 4px;
    margin: 0 2px;
    transition: color 0.5s, width 0.5s, height 0.5s, border-radius 0.5s;
}

i.arrow {
    font-size: 60px;
    position: absolute;
    color: var(--unfocused);
    transition: color 0.5s;
}

i.arrow.bi-chevron-compact-left {
    top: 45vh;
    left: 0;
}

i.arrow.bi-chevron-compact-right {
    top: 45vh;
    right: 0;
}

i.arrow:hover {
    color: var(--white);

}

main.photos {
    margin: 0 auto;
    padding: 17vh 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    width: 50vw;
    height: 80vh;
}
/*very buggy*/
img.formated-photos {
    width: 90%;
    padding: 0 5%;
    object-fit: scale-down;
    scroll-snap-align: center;
    margin-top: 10vh;

}

img.formated-photos:nth-child(1) {
    padding-left: 10%;
}

img.formated-photos:last-of-type {
    padding-right: 30%;
}

main.music {
    padding: 10rem 0 10rem 3rem;
    
}

.img-music {
    position: absolute;
    margin-top: 2rem;
    border-radius: 20px;
    max-width: 400px;
    object-fit:contain;   
}

.img-music:not(:first-child) {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.15s;
}

#img-music-1 {
    z-index: -4;
}

#img-music-2 {
    z-index: -3;
    margin-top: 5rem;
    
}

#img-music-3 {
    z-index: -2;
    margin-top: 8rem;
}

#img-music-4 {
    z-index: -1;
    margin-top: 11rem;
}

#img-music-cover {
    position: absolute;
    max-width: 100%;
    opacity: 60%;
    top:0;
    left: 0;
    z-index: -6;
    mask-image: linear-gradient(0deg, transparent 0%, white 30%, white 50%, transparent 100%);
}


.ttn {
    display: flex;
}

#ttn-desc {
    margin-left: 20rem;
    padding-top: 20rem;
    padding-right: 3rem;
    font-size: 12px;
    min-width: 25rem;
    width: 40rem;
    mix-blend-mode: exclusion;
}
#ttn-desc > a {
    font-size: 12px;
}

.note {
    font-size: 10px;
    color:#565656;
    text-align: center;
    padding-top: 5px;
}

.note.about {
    width: 7%;
    margin-left: 5%;
}

.gray-screen {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000d3;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 8;
}


.img-big {
    object-fit:contain;
    width: 80%;
    height: 80%;
    z-index: 9;
    margin: auto;
}

.close {
    position: fixed;
    right: 1rem;
    top: 1rem;
    
    z-index: 10;
    color: white;
}

.active-page {
    background: linear-gradient(0deg, transparent 97%, rgb(255, 255, 255) 98%, rgb(255, 255, 255) 100%)

}